*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.poetsen-one-regular{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav{
  background: #80411e;
  height: 80px;
  width: 100%;
  color: #e4bc84;
  position: fixed;
  top: 0px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #e4bc84;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  color: #ebcda4;
  transition: .5s;
}


.logo {
  margin-left: 100px;
  margin-top: 10px;
  cursor: pointer;
  width: 65px;
  height: 65px;
  margin-right: auto;
}
body{
  background-image: url(coffee/café.png);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.tar_flex{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: calc(100vh - 85px );
}
#tar_flex{
  padding: 10px;
  margin-top: 50px;
}
.tartalom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.also_léc{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10px;
  bottom: 30px;
  left: 40%;
}
.also_léc1{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10px;
  bottom: 90px;
  left: 40%;
}