.img{
    width: 500px;
    transform: scale(0.4);
}
div{
    text-align: center;
}
.téma1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2em;
    background-color: #8f755f;
    border: 20px solid #8f755f;
}

.tar_flex2_1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
}
#tar_flex2_1{
  padding: 10px;
  background-color: #80411e;
}

.box_t{
    border: 1px solid #e4bc84;
    background-color: #e4bc84;
    border-radius: 10%;
}